/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

h1 {
    text-align: center;
}

h2 {
    color: royalblue;
    background: rgba(164, 176, 209, 0.61);
}